<form class="{{auth}}" id="auth">
  <input class="{{input-auth}}" type="text" placeholder="Username" id="name-auth">
  <input class="{{input-auth}}" type="text" placeholder="Password" id="pass-auth">
  <button class="{{auth-btn}}" type="submit" id="auth-user">LogIn</button>
  <p class="{{skip}}" id="auth-skip">continue without authorization</p>
  <button type="button" class="{{start-btn}}" id="startBtn">Start Game!</button>
  <p class="{{error-message}}" id="errorMessage">this name already exist</p>
</form>

