<form class="{{auth}}" id="auth">
  <input class="{{input-auth}}" type="text" placeholder="Username" id="name-auth" required>
  <input class="{{input-auth}}" type="password" placeholder="Password" id="pass-auth" required>
  <div class="checkPass">
    <input type="checkbox" id="togglePassVisibility">Show Password
  </div>
  <button class="{{auth-btn}}" type="submit" id="auth-user">LogIn</button>
  <p class="{{skip}}" id="auth-skip">continue without authorization</p>
  <button type="button" class="{{start-btn}}" id="startBtn">Start Game!</button>
  <p class="{{error-message}}" id="errorMessage">no such user exists</p>
  <p class="{{error-message}}" id="errorEmpty">not enough data</p>
</form>

