<div class="{{start-page}}" id="startPage">
  <div class="{{menu}}" id="buttons">
    <button id="toSettingGame" class="{{menu-button}}">SETTINGS</button>
    <button id="login" class="{{menu-button}}">LogIn</button>
    <button id="registration" class="{{menu-button}}">Registration</button>
    <button id="boarders" class="{{menu-button}}">BOARDERS</button>
  </div>
  <div class="{{contacts}}">
    <a href="https://rs.school/js/" class="{{courseLogo}}" id="rsLogo">
      <img id="logo" class="{{logo}}">
    </a>
    <a href="https://github.com/Vasily-N" class="{{developer}}">Vasily-N</a>
    <a href="https://github.com/HolyOly" class="{{developer}}">Oly</a>
    <a href="https://github.com/BurakMikita" class="{{developer}}">BurakMikita</a>
    <span>&#169;2022</span>
  </div>
</div> 
<div class="{{modal}}" id="modal">
  <span class="{{close}}" id="close"></span>
  <div class="{{content}}" id="modalContent"></div>
</div>
