@use '../common.scss' as common;

.start-page {
  background-size: 100% 100%;
  height: 95vh;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -75px;
  width: 150px;
  height: 250px;
}

.menu-button {
  background-color: rgba(243, 194, 134, 0.904);
  border: 3px solid #550d19;
  color: #340000;
  height: 35px;
  font-size: 18px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  &:hover {
    background-color: rgba(243, 194, 134, 0.966);
    color: rgb(9, 38, 65);
  }
}

.contacts {
  position: absolute;
  display: flex;
  width: 350px;
  left: 50%;
  bottom: 0;
  margin-left: -175px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.developer {
  color: gray;
  &:visited {
    color: rgb(136, 145, 163);
  }
  &:hover {
    color: rgb(218, 216, 115);
  }
}

.logo {
  width: 92px;
  height: 35px;
  transition: .5s;
  &:hover {
    background-color: rgba(59, 11, 11, 0.83);
    box-shadow: 4px 2px 20px 20px rgba(59, 11, 11, 0.83);
  }
}

.modal {
  position: absolute;
  display: none;
  background-color: #340000;
  border: 4px solid rgba(78, 25, 9, 0.945);
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  color: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.7;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(209, 183, 183);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.darken-overlay {
  opacity: .3;
}
