@use '../common.scss' as common;

.start-page {
  background-size: 100% 100%;
  height: 95vh;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -75px;
  width: 150px;
  height: 250px;
}

.menu-button {
  background-color: rgba(243, 194, 134, 0.753);
  border: 2px solid #775c1d;
  font-weight: 600;
  height: 35px;
  &:hover {
    background-color: rgba(243, 194, 134, 0.966);
  }
}

.contacts {
  position: absolute;
  display: flex;
  width: 350px;
  left: 50%;
  bottom: 0;
  margin-left: -175px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.developer {
  color: gray;
  &:visited {
    color: rgb(136, 145, 163);
  }
  &:hover {
    color: rgb(218, 216, 115);
  }
}

.logo {
  width: 92px;
  height: 35px;
  transition: .5s;
  &:hover {
    background-color: rgba(255, 255, 0, 0.226);
  }
}

.modal {
  position: absolute;
  display: none;
  background-color: #fbfcf7;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  width: 50%;
  height: 50%;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 300;
}
