@use '../common.scss' as common;

.start-page {
  background-size: 100% 100%;
  height: 95vh;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -75px;
  width: 150px;
  height: 300px;
}

.contacts {
  position: absolute;
  display: flex;
  width: 350px;
  left: 50%;
  bottom: 0;
  margin-left: -125px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.developer {
  color: gray;
  &:visited {
    color: rgb(136, 145, 163);
  }
  &:hover {
    color: rgb(152, 170, 69);
  }
}

.logo {
  width: 92px;
  height: 35px;
  fill: "#ffffff";
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(353deg) brightness(106%) contrast(101%);
}
