<nav class="{{navigation}}" id="navigation">
  <button id="login" class="{{button}} {{button_1}}">LogIn</button>
  <button id="registration" class="{{button}} {{button_1}}">Registration</button>
  <button id="toMainPage" class="{{button}} {{button_1}}">TO MAIN PAGE</button>
  <button id="toCanvas" class="{{button}} {{button_1}}">TO CANVAS</button>
  <button id="toPlaceholder" class="{{button}} {{button_1}}">TO BOARDERS</button>
  <button id="toSettingGame" class="{{button}} {{button_1}}">Setting Game</button>
  <button id="toSettingControl" class="{{button}} {{button_1}}">Setting Control</button>
  <button id="settingSound" class="{{button}} {{button_1}}">Setting Sound</button>
</nav>
<div id="sounds" class="{{sounds}}"></div>
<main class="{{content}}"></main>
<div class="{{modal}}" id="modal">
  <span class="{{close}}" id="close"></span>
  <div class="{{content}}" id="modalContent"></div>
</div>
<div class="{{contacts}}">
  <a href="https://rs.school/js/" class="{{courseLogo}}" id="rsLogo">
    <img id="logo" class="{{logo}}">
  </a>
  <a href="https://github.com/Vasily-N" class="{{developer}}">Vasily-N</a>
  <a href="https://github.com/HolyOly" class="{{developer}}">Oly</a>
  <a href="https://github.com/BurakMikita" class="{{developer}}">BurakMikita</a>
  <span>&#169;2022</span>
</div>
