<form class="{{reg}}" id="reg">
  <input class="{{input-auth}}" type="text" placeholder="Username" id="name-reg">
  <input class="{{input-auth}}" type="text" placeholder="Password" id="pass-reg">
  <button class="{{reg-btn}}" type="submit" id="reg-user">Registration</button>
  <p class="{{skip}}" id="reg-skip">continue without authorization</p>
  <button type="button" class="{{start-btn}}" id="startBtn">Start Game!</button>
  <p class="{{error-message}}" id="errorMessage">this name already taken</p>
  <p class="{{error-message}}" id="errorEmpty">not enough data</p>
</form>
