@use '../common.scss' as common;

.input-auth {
  &:focus {
    outline: 1px solid pink;
  }
}

.reg,
.auth {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  margin-left: -115px;
  margin-top: -75px;
  width: 230px;
  gap: 10px;
  align-items: center
}

.skip {
  color: rgb(225, 252, 249);
  cursor: pointer;
  &:hover {
    color: palevioletred;
    cursor: pointer;
  }
}

.reg-btn,
.auth-btn {
  width: 100px;
  border: none;
  outline: 2px solid pink;
  padding: .5em;
  background-color: aqua;
  font-weight: 600;
  &:hover {
    outline-color: rgb(247, 39, 247);
  }
}

.start-btn {
  display: none;
}
