@use '../common.scss' as common;

:global(.placeholder) {
  color: pink;
}

.audio-settings-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  font-family: 'Cinzel', serif;
  font-size: 17px;
  color: #f8f1c0;
  label {
    font-size: 17px;
    color: #f8f1c0;
  }
}

.audio-title {
  text-align: center;
  font-size: 20px;
  color: #eee38e;
  font-weight: 700;
}

input[type=range] {
  height: 39px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: #340000;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000000;
  background: #082D85;
  border-radius: 1px;
  border: 2px solid #091e50;;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px #082D85;
  border: 1px solid #200CA6;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  background: #FFE11C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d43c0;;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000000;
  background: #072774;
  border-radius: 1px;
  border: 2px solid #072774;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 2px #082D85;
  border: 1px solid #200CA6;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  background: #FFE11C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9619A9;
  border: 2px solid #580B70;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #9619A9;
  border: 2px solid #580B70;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 2px #082D85;
  border: 1px solid #200CA6;
  height: 30px;
  width: 20px;
  border-radius: 5px;
  background: #FFE11C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9619A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9619A9;
}
