<div class="setting__game">
	<p >Draw Boxes</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="boxes__drow" value="true">
		
	</div>
	<p>Draw Surfaces</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="draw__surfaces" value="true">
	</div>
	<p>Fps Display</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="fps__display" value="true">
	</div>
	<p>Choose Fps Limit</p>
	<input type="number"  id="fps__Limit" min=0 max="80"/>
	<p>size zoom of game</p>
	<select id="zoom-game">
		<option selected disabled hidden>Choose here</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
</div>