<div class="setting__game">
	<p>Draw Boxes</p>
	<div>
		<input type="radio" id="Boxes__yes" name="Boxes__draw" value="yes">
		<label for="Boxes__yes">Yes</label>

		<input type="radio" id="Boxes__no" name="Boxes__draw" value="no">
		<label for="Boxes__no">No</label>
	</div>
	<p>Draw Surfaces</p>
	<div>
		<input type="radio" id="Surfaces__yes" name="Draw__Surface" value="yes">
		<label for="Surfaces__yes">Yes</label>

		<input type="radio" id="Surfaces__no" name="Draw__Surface" value="no">
		<label for="Surfaces__no">No</label>
	</div>
	<p>Fps Display</p>
	<div>
		<input type="radio" id="fps__yes" name="fps__display" value="yes">
		<label for="fps__yes">Yes</label>

		<input type="radio" id="fps__no" name="fps__display" value="no">
		<label for="fps__no">No</label>
	</div>
	<p>Choose Fps Limit</p>
	<select id="fps-limit">
		<option selected disabled hidden>Choose here</option>
		<option value="20">20</option>
		<option value="40">40</option>
		<option value="60">60</option>
		<option value="80">80</option>
	</select>
	<p>size zoom of game</p>
	<select id="zoom-game">
		<option selected disabled hidden>Choose here</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
</div>