<div class="setting__game">
	<p>Display Fps</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-fps">
	</div>
	<p>Display Timer</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-timer">
	</div>
	<p>Display Hitboxes</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-hitboxes">
	</div>
	<p>Display Collisions</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-collisions">
	</div>
	<p>Fps Limit</p>
	<input type="checkbox" class="{{check-box}}" id="fps-limit-checkbox">
	<input type="number" id="fps-limit-value">
	<p>Zoom</p>
	<input type="number" id="zoom">
</div>
