<div class="{{setting__game}}">
	<!-- <p>Display Fps</p>
	<div>
		<input type="checkbox" class="{{}} {{checkbox-circle}}" id="display-fps">
	</div> -->
  <div class="{{box}}">
		<input type="checkbox" class="{{check-box}}" id="display-fps">
    <span class="{{check}}"></span>
    <label for="display-fps">Display Fps</label>
  </div>
	<!-- <p>Display Timer</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-timer">
	</div> -->
  <div class="{{box}}">
		<input type="checkbox" class="{{check-box}}" id="display-timer">
    <span class="{{check}}"></span>
    <label for="display-timer">Display Timer</label>
  </div>
	<!-- <p>Display Hitboxes</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-hitboxes">
	</div> -->
  <div class="{{box}}">
		<input type="checkbox" class="{{check-box}}" id="display-hitboxes">
    <span class="{{check}}"></span>
    <label for="display-hitboxes">Display Hitboxes</label>
  </div>
	<!-- <p>Display Collisions</p>
	<div>
		<input type="checkbox" class="{{check-box}}" id="display-collisions">
	</div> -->
  <div class="{{box}}">
		<input type="checkbox" class="{{check-box}}" id="display-collisions">
    <span class="{{check}}"></span>
    <label for="display-collisions">Display Collisions</label>
  </div>
	<!-- <p>Fps Limit</p> -->
  <div class="{{box}}">
		<input type="checkbox" class="{{check-box}}" id="fps-limit-checkbox">
    <span class="{{check}}"></span>
    <label for="fps-limit-checkbox">Fps Limit</label>
  </div>
  <div class="{{imput-number-container}}">
    <button type="button" id="btnDecrement" class="{{btn-input-num}}">-</button>
    <input type="number" class="{{imput-number}}" id="fps-limit-value">
    <button type="button" id="btnIncrement" class="{{btn-input-num}}">+</button>
  </div>

  <!-- <div class="{{check-box_align}}">
    <input type="checkbox" class="{{check-box}}" id="fps-limit-checkbox">
    <span class="{{check}}"></span>
    <input type="number" id="fps-limit-value">
  </div> -->
  <div class="{{box}}">
		<!-- <input type="checkbox" class="{{check-box}}" id="fps-limit-checkbox"> -->
    <!-- <span class="{{check}}"></span> -->
    <label for="zoom">Zoom</label>
  </div>
  <div class="{{imput-number-container}}">
    <button type="button" id="btnDecrementZoom" class="{{btn-input-num}}">-</button>
    <input type="number" class="{{imput-number}}" id="zoom">
    <button type="button" id="btnIncrementZoom" class="{{btn-input-num}}">+</button>
  </div>

	<!-- <p>Zoom</p>
  <div class="{{check-box_align}}">
    <input type="number" id="zoom">
  </div> -->
  
  <!-- <div class="{{box}}">
    <input id="one" type="checkbox">
    <span class="{{check}}"></span>
    <label for="one">Check me</label>
  </div> -->
</div>

