@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

$gap: 8px;

@mixin flex {
  display: flex;
  gap: $gap;
}

@mixin flex-coumns {
  flex-direction: column;
  @include flex;
}
