<div class="tables">
  <div class="times">
    <p>The Best Times</p>
    <table class='time-table' id="timeTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Example name</td>
          <td>0</td>
          <td id="timeBorderDate"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wins">
    <p>Amount of wins</p>
    <table class="win-table" id="winTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Win</th>
          <th>Date of last win</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Example name</td>
          <td>0</td>
          <td id="winBorderDate"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
