<div class="tables">
  <div class="times">
    <p>The Best Times</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="{{time-table}}" id="timeTable">
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wins">
    <p>Amount of wins</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Result</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="{{win-table}}" id="winTable">
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
